.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #f5f5f5;
  animation: fadeIn 1.5s ease-in-out;
}

.landing-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10rem;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  animation: pop-in 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop-in {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Button container animation */
.landing-buttons {
  display: flex;
  gap: 25px;
  margin-top: -100px;
  animation: fadeSlideUp 2s ease-in-out;
}

/* Individual button styles */
.btn.landing-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: rgb(0, 9, 128) 2px solid;
    border-radius: 100px;
    cursor: pointer;
    background-color: #67ad0a;
    color: #3905f7;
    transition: transform 0.1s ease, box-shadow 0.3s ease, background-color 0.3s, color 0.3s;
    animation: fadeSlideUp 1s ease-out;
    }

/* Hover effects for buttons */
.btn.landing-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background-color: #3905f7;
    color: #67ad0a;
}

@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(1);
    }
}