.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  animation: fadeIn 1.5s ease-in-out;
}

.landing-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  animation: pop-in 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop-in {
    0% {
        transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}